.topic-footer-main-buttons-before-create-outlet .topic-OP-admin-menu-button-container {
  height: 100%;
  .btn {
    height: 100%;
  }
}
span.topic-OP-admin-menu-button {
  height: 100%;
  .btn {
    height: 100%;
  }
}
